<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item [routerLink]="['/']">
        <button mat-icon-button>
          <mat-icon>dashboard</mat-icon>
        </button>
        <span>Dashboard</span>
      </mat-list-item>
      <mat-list-item [routerLink]="['/recipes']">
        <button mat-icon-button>
          <mat-icon>restaurant_menu</mat-icon>
        </button>
        <span>Recipes</span>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
        <span>Settings</span>
      </mat-list-item>
      <!-- Add more menu items here -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>My Dashboard</span>
    </mat-toolbar>

    <!-- Main content goes here -->
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>