<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item>
        <button mat-icon-button>
          <mat-icon>dashboard</mat-icon>
        </button>
        <span>Dashboard</span>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button>
          <mat-icon>assignment</mat-icon>
        </button>
        <span>Reports</span>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
        <span>Settings</span>
      </mat-list-item>
      <!-- Add more menu items here -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>My Dashboard</span>
    </mat-toolbar>

    <!-- Main content goes here -->
    <div style="margin: 16px;">
      <h1>App Content</h1>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>